<header class='masthead bg-primary text-white text-center'>
  <div class='container d-flex align-items-center flex-column'>
    <!-- Masthead Avatar Image-->
    <img
      class='masthead-avatar mb-5'
      src='assets/img/avataaars.svg'
      alt='...'
    />
    <!-- Masthead Heading-->
    <h1 class='masthead-heading text-uppercase mb-0'>Find a friend</h1>
    <!-- Icon Divider-->
    <div class='divider-custom divider-light'>
      <div class='divider-custom-line'></div>
      <div class='divider-custom-icon'><i class='fas fa-star'></i></div>
      <div class='divider-custom-line'></div>
    </div>
    <!-- Masthead Subheading-->
    <p class='masthead-subheading font-weight-light mb-0'>Friend - Meet - Fun</p>
  </div>
</header>
<!-- About Section-->
<section class='page-section mb-0' id='about'>
  <div class='container'>
    <!-- About Section Heading-->
    <h2 class='page-section-heading text-center text-uppercase'>About</h2>
    <!-- Icon Divider-->
    <div class='divider-custom divider-light'>
      <div class='divider-custom-line'></div>
      <div class='divider-custom-icon'><i class='fas fa-star'></i></div>
      <div class='divider-custom-line'></div>
    </div>
    <!-- About Section Content-->
    <div class='row'>
      <div class='col-lg-4 ms-auto'><p class='lead'>Find A Friend is a website
          designed to meet your boredom needs. It allows for you at a whim to
          find out what other are interested and doing and potentially meet up
          with them and make new friends.</p></div>
      <div class='col-lg-4 me-auto'><p class='lead'>You can also create you own
          listings to help find others who are interested in the same things.
          Sign up now and be on your way to finding a new friend.</p></div>
    </div>
  </div>
</section>