<link
  rel='stylesheet'
  href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css'
  integrity='sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY='
  crossorigin='anonymous'
/>
<link rel='stylesheet' href='/css/listings.css' />

<div class='container page-container'>
  <div class='row'>
    <div class='col-lg-10 mx-auto mb-4'>
      <div class='section-title text-center'>
        <h3 class='top-c-sep'>Your favorite friend activities!</h3>
        <p>Lorem ipsum dolor sit detudzdae amet, rcquisc adipiscing elit. Aenean
          socada commodo ligaui egets dolor. Nullam quis ante tiam sit ame orci
          eget erovtiu faucid.</p>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-lg-10 mx-auto'>
      <div class='career-search mb-60'>

        <form action='#' class='career-form mb-60'>
          <div class='row'>
            <div class='col-md-6 col-lg-3 my-3'>
              <div class='input-group position-relative'>
                <input
                  type='text'
                  class='form-control'
                  placeholder='Enter Your Keywords'
                  id='keywords'
                />
              </div>
            </div>
            <div class='col-md-6 col-lg-3 my-3'>
              <div class='select-container'>
                <select class='custom-select'>
                  <option selected=''>Availabilty</option>
                  {{#each listings as |listing|}}
                    <option
                      value={{listing.id}}
                    >{{listing.availabilty}}</option>
                  {{/each}}
                </select>
              </div>
            </div>
            <div class='col-md-6 col-lg-3 my-3'>
              <div class='select-container'>
                <select class='custom-select'>
                  <option selected=''>Select Type</option>
                  <option value='1'>Indoor</option>
                  <option value='2'>Outdoor</option>
                </select>
              </div>
            </div>
            <div class='col-md-6 col-lg-3 my-3'>
              <button
                type='button'
                class='btn btn-lg btn-block btn-light btn-custom'
                id='contact-submit'
              >
                Search
              </button>
            </div>
          </div>
        </form>

        <div class='filter-result'>

          <p class='mb-30 ff-montserrat'>Total activities : 89</p>
          {{#each listings as |listing|}}
            <div
              class='job-box d-md-flex align-items-center justify-content-between mb-30'
            >
              <div class='job-left my-4 d-md-flex align-items-center flex-wrap'>
                <div
                  class='img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex'
                >

                </div>
                <div class='job-content'>
                  <h5 class='text-center text-md-left'>{{listing.title}}</h5>
                  <ul class='d-md-flex flex-wrap text-capitalize ff-open-sans'>
                    <li class='mr-md-4'>
                      <i class='zmdi zmdi-pin mr-2'></i>
                      {{! location }}
                      Los Angeles &nbsp;
                    </li>
                    <li class='mr-md-4'>
                      <i class='zmdi zmdi-time mr-2'></i>
                      {{listing.availabilty}}
                    </li>
                  </ul>
                </div>
              </div>
              <div class='job-right my-4 flex-shrink-0'>
                <a
                  href='/listings/1'
                  class='btn d-block w-100 d-sm-inline-block btn-light'
                >Reserve now</a>
              </div>
            </div>
          {{/each}}
        </div>

      </div>

      <!-- START Pagination -->
      <nav aria-label='Page navigation'>
        <ul class='pagination pagination-reset justify-content-center'>
          <li class='page-item disabled'>
            <a class='page-link' href='#' tabindex='-1' aria-disabled='true'>
              <i class='zmdi zmdi-long-arrow-left'></i>
            </a>
          </li>
          <li class='page-item'><a class='page-link' href='#'>1</a></li>
          <li class='page-item d-none d-md-inline-block'><a
              class='page-link'
              href='#'
            >2</a></li>
          <li class='page-item d-none d-md-inline-block'><a
              class='page-link'
              href='#'
            >3</a></li>
          <li class='page-item'><a class='page-link' href='#'>...</a></li>
          <li class='page-item'><a class='page-link' href='#'>8</a></li>
          <li class='page-item'>
            <a class='page-link' href='#'>
              <i class='zmdi zmdi-long-arrow-right'></i>
            </a>
          </li>
        </ul>
      </nav>
      <!-- END Pagination -->
    </div>
  </div>

</div>