<div class='container'>
  <div class='page-inner no-page-title'>
    <!-- start page main wrapper -->
    <div id='main-wrapper'>
      <div class='row d-flex justify-content-center'>
        <div class='col-lg-7 col-xl-6'>
          <div class='card card-white grid-margin'>
            <div class='card-body'>
              <div class='post'>
                <textarea
                  class='form-control'
                  placeholder='Post'
                  rows='4'
                ></textarea>
                <div class='post-options'>
                  <a href='#'><i class='fa fa-camera'></i></a>
                  <a href='#'><i class='fas fa-video'></i></a>
                  <a href='#'><i class='fa fa-music'></i></a>
                  <button
                    class='btn btn-outline-primary float-right'
                  >Post</button>
                </div>
              </div>
            </div>
          </div>
          <div class='profile-timeline'>
            <ul class='list-unstyled'>
              <li class='timeline-item'>
                <div class='card card-white grid-margin'>
                  <div class='card-body'>
                    <div class='timeline-item-header'>
                      <img
                        src='https://bootdey.com/img/Content/avatar/avatar7.png'
                        alt=''
                      />
                      <p>Vikash smith <span>posted a status</span></p>
                      <small>3 hours ago</small>
                    </div>
                    <div class='timeline-item-post'>
                      <p>Elavita veritatis et quasi architecto beatae vitae
                        dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                        voluptas sit aspernatur aut odit aut fugit, sed quia
                        consequuntur.</p>
                      <div class='timeline-options'>
                        <a href='#'><i class='fa fa-thumbs-up'></i>
                          Like (15)</a>
                        <a href='#'><i class='fa fa-comment'></i>
                          Comment (4)</a>
                        <a href='#'><i class='fa fa-share'></i> Share (6)</a>
                      </div>
                      <div class='timeline-comment'>
                        <div class='timeline-comment-header'>
                          <img
                            src='https://bootdey.com/img/Content/avatar/avatar7.png'
                            alt=''
                          />
                          <p>Jamara Karle <small>1 hour ago</small></p>
                        </div>
                        <p class='timeline-comment-text'>Xullamco laboris nisi
                          ut aliquip ex ea commodo consequat.</p>
                      </div>
                      <div class='timeline-comment'>
                        <div class='timeline-comment-header'>
                          <img
                            src='https://bootdey.com/img/Content/avatar/avatar7.png'
                            alt=''
                          />
                          <p>Lois Anderson <small>3 hours ago</small></p>
                        </div>
                        <p class='timeline-comment-text'>Coluptate velit esse
                          cillum dolore eu fugiat nulla pariatur. Excepteur sint
                          occaecat cupidatat non proident, sunt in culpa qui
                          officia.</p>
                      </div>
                      <textarea
                        class='form-control'
                        placeholder='Replay'
                      ></textarea>
                    </div>
                  </div>
                </div>
              </li>
              <li class='timeline-item'>
                <div class='card card-white grid-margin'>
                  <div class='card-body'>
                    <div class='timeline-item-header'>
                      <img
                        src='https://bootdey.com/img/Content/avatar/avatar7.png'
                        alt=''
                      />
                      <p>Veema Walkeror <span>uploaded a photo</span></p>
                      <small>7 hours ago</small>
                    </div>
                    <div class='timeline-item-post'>
                      <p>totam rem aperiam, eaque ipsa quae ab illo inventore</p>
                      <img src='img/post-img01.jpg' alt='' />
                      <div class='timeline-options'>
                        <a href='#'><i class='fa fa-thumbs-up'></i>
                          Like (22)</a>
                        <a href='#'><i class='fa fa-comment'></i>
                          Comment (7)</a>
                        <a href='#'><i class='fa fa-share'></i> Share (9)</a>
                      </div>
                      <div class='timeline-comment'>
                        <div class='timeline-comment-header'>
                          <img
                            src='https://bootdey.com/img/Content/avatar/avatar7.png'
                            alt=''
                          />
                          <p>Memila moriya <small>1 hour ago</small></p>
                        </div>
                        <p class='timeline-comment-text'>Explicabo Nemo enim
                          ipsam voluptatem quia voluptas.</p>
                      </div>
                      <textarea
                        class='form-control'
                        placeholder='Replay'
                      ></textarea>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Row -->
    </div>
  </div>
</div>