<section class='h-100 h-custom gradient-custom-2'>
  <div class='container py-5 h-100'>
    <div class='row d-flex justify-content-center align-items-center h-100'>
      <div class='col-12'>
        <div
          class='card card-registration card-registration-2'
          style='border-radius: 15px;'
        >
          {{! left side form }}
          <div class='card-body p-0'>
            <div class='row g-0'>
              <div class='col-lg-6'>
                <div class='p-5'>
                  <h3 class='fw-normal mb-5'>New activity</h3>
                  <div class='row'>

                    <div class='mb-4 pb-2'>
                      <div class='form-outline'>
                        <input
                          type='text'
                          id='typeTitle'
                          class='form-control form-control-lg'
                        />
                        <label class='form-label' for='typeTitle'>Title</label>
                      </div>
                    </div>

                    <div class='mb-4'>
                      <div class='form-outline'>
                        <input
                          type='text'
                          id='typeAgeRange'
                          class='form-control form-control-lg'
                        />
                        <label class='form-label' for='typeAgeRange'>Enter an
                          Age Range</label>
                      </div>
                    </div>

                    <div class='mb-4'>
                      <div class='form-outline'>
                        <div class='select-container'>
                          <select
                            class='custom-select'
                            id='availability-select'
                          >
                            <option value='' selected=''>Availabilty</option>
                            <option value='Monday'>Monday</option>
                            <option value='Tuesday'>Tuesday</option>
                            <option value='Wednesday'>Wednesday</option>
                            <option value='Thursday'>Thursday</option>
                            <option value='Friday'>Friday</option>
                            <option value='Saturday'>Saturday</option>
                            <option value='Sunday'>Sunday</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class='mb-4'>
                      <div class='form-outline'>
                        <select class='custom-select' id='category-select'>
                          <option value='' selected=''>Select a Category</option>
                          {{#each categories as |category|}}
                            <option
                              name='category'
                              value='{{category.id}}'
                            >{{category.name}}</option>
                          {{/each}}
                        </select>
                      </div>
                    </div>

                    <input
                      type='text'
                      id='typeCategoryCreate'
                      class='form-control form-control-lg'
                    />
                    <label class='form-label' for='typeCategoryCreate'>Or Create
                      a Category</label>
                  </div>

                </div>
              </div>

              {{! right side form }}
              <div class='col-lg-6'>
                <div class='p-5'>
                  <h3 class='fw-normal mb-5'>Activity Description</h3>
                  <div class='row'>
                    <div class='mb-4 pb-2'>

                      <div class='mb-4'>
                        <div class='form-outline'>
                          <textarea
                            class='form-control'
                            placeholder='Post'
                            rows='4'
                            id='activity-description'
                          ></textarea>
                          <div class='post-options'>

                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <button
                    type='button'
                    class='btn btn-dark btn-lg post-form'
                    data-mdb-ripple-color='dark'
                    id='{{user}}'
                  >Post</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src='/javascript/post.js' defer></script>