<div class='container'>
  <div class='page-inner no-page-title'>
    <!-- start page main wrapper -->
    <div id='main-wrapper'>
      <div class='row d-flex justify-content-center'>
        <div class='col-lg-7 col-xl-6'>
          <div class='card card-white grid-margin'>
            <div class='card-body'>
              <div class='col-md-6 col-lg-3 my-3'>
                <div class='select-container'>
                  <h5>How were they as a firend?</h5>
                  <select class='custom-select' id='availability-select'>
                    <option value='' selected=''>Score</option>
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                  </select>
                </div>
              </div>
              <div class='post'>
                <textarea
                  class='form-control'
                  placeholder='Post'
                  rows='4'
                ></textarea>
                <div class='post-options'>
                  <button
                    class='btn btn-outline-primary float-right form-submit'
                    id='{{user}}'
                  >Post</button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- Row -->
    </div>
  </div>
</div>